.header, .header-mobile{
    padding: 0 212px;
    height: 150px;
    top: 0;
    z-index: 100;
    width: 100vw;
    background: radial-gradient(989.12% 32673.09% at 76.8% -393.38%, #005CAB 0%, rgba(0, 182, 241, 0.33) 100%), #005CAB;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    border-radius: 0 0 8px 8px;
}

.header-mobile{
  display: none;
}

@media screen and (max-width: 888px){
  .header{
    display: none;
  }
  .header-mobile{
    display: flex;
    height: auto;
    padding: 0 100px;
  }
  .header-row-1-mobile{
    border-style: none;
    height: 10vh;
    justify-content: space-between;
    padding: 24px 0;
  }

}

.header-row-1,{
    justify-content: space-between;
    height: 90px;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 24px 0;
}

.header-row-2{
  justify-content: space-between;
  height: 60px;
  padding: 0;
}

.header-text-1{
    font-weight: 700;
    line-height: 150%;
    font-size: 2.5rem;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-text-2{
    font-weight: 300;
    font-size: 1.5rem;
}

#header-login-button:hover{
    font-weight: 700;
}

.header-menu-icon{
    margin-right: 15px;
    margin-left: -11px;
}

.header-button-list, .div-exit, .div-menu{
  display: flex;
  align-items: center;
}

.div-exit{
  cursor: pointer;
}

.button-menu{
    padding: 0;
    background: transparent;
    color: #fff;
    margin-right: 15px;
    box-shadow: none !important;
    border: none;
    cursor: pointer;
}

.button-menu:focus{
    border: none;
    box-shadow: none !important;
    outline: none;
}

.menu-text{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

#timer{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  margin-left: 5px;
}

#mat-icon-exit{
  margin-right: 6.5px;
}


