.header{
    padding-left: 228px;
    padding-right: 228px;
    background-color: #005CAB;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    top: 0;
    z-index: 100;
    width: 100vw;
    
}

.header-row-1{
    
    justify-content: space-between;

}

#header-text-1{
    font-weight: 700;
    line-height: 150%;
    font-size: 3rem;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#header-text-2{
    font-weight: 300;
    font-size: 1.5rem;
}

#header-login-button{
    background: #ffffff;
    color: #2596be;
    font-weight: 700;
    font-size: 1.25rem;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 5px 5px ;
    width: 8vw;
    margin: 10px;
}

#header-login-button:hover{
    font-weight: 700;
}

.header-menu-icon{

    margin-right: 15px;
    margin-left: -11px;
}

.button-menu{
    padding: 0;
    background: transparent;
    color: #fff;  
    margin-right: 15px;
    box-shadow: none !important;
    border: none;
    cursor: pointer;
}

.button-menu:focus{
    border: none;
    box-shadow: none !important;
    outline: none;
}



.menu-text{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}