*{
    margin: 0px;
}

.footer{
    position: absolute;
    bottom: 0;
    padding-left: 228px;
    padding-right: 228px;
    background: #005CAB;
    display: flex;
    height: auto;

    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-row-1{
    height: auto;
    justify-content: center;
}
    
.footer-branch-text{

/* identical to box height, or 133% */
    text-transform: uppercase;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 133%;
    font-size: 15px;
    margin: 0px;
    font-style: normal;
    cursor: pointer;
}

#copyright-text{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 133%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}