<mat-dialog-content>
    <mat-tab-group class = "tab-group">
        <mat-tab label = "Rekening">
            <div class="container-tab">
                <div class = "rekening-mutasi">
                    <mat-icon class = "icons-sz-36">
                        paid
                    </mat-icon>
                    <p>
                        MUTASI REKENING
                    </p>
                </div>
    
                <div class = "rekening-estatement">
                    <mat-icon class = "icons-sz-36">
                        account_balance_wallet
                    </mat-icon>
                    <p>
                        E-STATEMENT
                    </p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label = "Transfer"></mat-tab>
        <mat-tab label = "Pembayaran"></mat-tab>
        <mat-tab label = "SCF"></mat-tab>
        <mat-tab label = "Aktivitas"></mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close = "true">Close</button>
    <button mat-button mat-dialog-close mat-dialog-close = "false">Close #2</button>
</mat-dialog-actions> -->

