.icons-sz-36{
    width: 56px;
    height: 56px;
    display: flex;
    margin-bottom: 10px;
    color:#005CAB;
    border: 1px solid #005CAB;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    
}

.rekening-mutasi, .rekening-estatement{
    display: inline-block;
    margin-right: 50px;
    margin-top: 20px;
    justify-content: center;
    width: 60px; 
    background: white;
    margin-left: 7px;
}

.tab-group p{
    color:#005CAB;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
/* identical to box height */
    width: auto;
    text-align: center;
    text-transform: uppercase;
}
