/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container .mat-dialog-container {
    padding-left: 100px;
    padding-right: 100px;
    background: white;

  }

.mat-tab-label, .mat-tab-link {
    color: #374D61;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-shadow: inset 0px -1px 0px #CDD2D7;
}

 .mat-tab-label-active{
    color: #005CAB;
    font-weight: 700;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #005CAB;
    height: 3px;

}
